<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ThreeJS</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <!-- Your web-app is https, so your scripts need to be too -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
    <script src="./OrbitControls.js"></script>
    <script src="./SVGLoader.js"></script>
    <script src="./utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.6/chroma.min.js"></script> -->
<!--     <script src="/client.js"></script>
 -->
  </body>
</html>
